h1 {
  color: red; }

body {
  background-color: #888888;
  padding-top: 50px; }

#map-canvas {
  height: 100vh; }

.dropdown-toggle {
  width: 90%;
  margin: 15px 5% 15px 5%;
  background-color: #ffbb00; }

#selections {
  margin: 3%;
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  border-radius: 4px; }

.col-md-9 {
  padding: 0; }

button.btn.btn-default.days {
  margin: 5px;
  background-color: #ffbb00;
  border-radius: 20px; }

#num-days {
  padding: 5px;
  border: 2px solid #666666;
  border-radius: 4px;
  background-color: #666666; }
